.titlebar {
    height: 31px;
    user-select: none;
    background: #00000000;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 31px;
  }
  .titlebar-button:hover {
    background: #00000025;
  }